In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df[df['total_bill'] > 40]

     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
95        40.17   4.73    Male    Yes   Fri  Dinner     4
102       44.30   2.50  Female    Yes   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
184       40.55   3.00    Male    Yes   Sun  Dinner     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
212       48.33   9.00    Male     No   Sat  Dinner     4

In [11]:
df[(df['total_bill'] > 20) | (df['tip'] > df['total_bill']*0.20)]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
9         14.78  3.23    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
28        21.70  4.30    Male     No   Sat  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
35        24.06  3.60    Male     No   Sat  Dinner     3
39        31.27  5.00    Male     No   Sat  Dinner     3
42        13.94  3.06    Male     No   Sun  Dinner     2
44        30.40  5.60    Male     No   Sun  Dinner     4
46        22.23  5.00    Male     No   Sun  Dinner     2
47        32.40  6.00    Male     No   Sun  Dinner     4
48        28.55  2.05    Male     No   Sun  Dinner     3
51        10.29  2.60  Female     No   Sun  Dinner     2
52        34.81  5.20  Female     No   Sun  Dinner     4
54        25.56  4.34    Male     No   Sun  Dinner     4
56        38.01  3.00    Male    Yes   Sat  Dinner     4
57        26.41  1.50  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
186       20.90  3.50  Female    Yes   Sun  Dinner     3
187       30.46  2.00    Male    Yes   Sun  Dinner     5
189       23.10  4.00    Male    Yes   Sun  Dinner     3
191       19.81  4.19  Female    Yes  Thur   Lunch     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
194       16.58  4.00    Male    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
200       18.71  4.00    Male    Yes  Thur   Lunch     3
204       20.53  4.00    Male    Yes  Thur   Lunch     4
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
214       28.17  6.50  Female    Yes   Sat  Dinner     3
216       28.15  3.00    Male    Yes   Sat  Dinner     5
219       30.14  3.09  Female    Yes   Sat  Dinner     4
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
232       11.61  3.39    Male     No   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2

[129 rows x 7 columns]

In [13]:
df.loc[df['smoker'] == 'No', ['tip', 'sex', 'smoker']]

      tip     sex smoker
0    1.01  Female     No
1    1.66    Male     No
2    3.50    Male     No
3    3.31    Male     No
4    3.61  Female     No
5    4.71    Male     No
6    2.00    Male     No
7    3.12    Male     No
8    1.96    Male     No
9    3.23    Male     No
10   1.71    Male     No
11   5.00  Female     No
12   1.57    Male     No
13   3.00    Male     No
14   3.02  Female     No
15   3.92    Male     No
16   1.67  Female     No
17   3.71    Male     No
18   3.50  Female     No
19   3.35    Male     No
20   4.08    Male     No
21   2.75  Female     No
22   2.23  Female     No
23   7.58    Male     No
24   3.18    Male     No
25   2.34    Male     No
26   2.00    Male     No
27   2.00    Male     No
28   4.30    Male     No
29   3.00  Female     No
..    ...     ...    ...
150  2.50    Male     No
151  2.00    Male     No
152  2.74    Male     No
153  2.00    Male     No
154  2.00    Male     No
155  5.14  Female     No
156  5.00    Male     No
157  3.75  Female     No
158  2.61  Female     No
159  2.00    Male     No
160  3.50    Male     No
161  2.50    Male     No
162  2.00  Female     No
163  2.00    Male     No
165  3.48    Male     No
166  2.24    Male     No
167  4.50    Male     No
185  5.00    Male     No
195  1.44    Male     No
212  9.00    Male     No
223  3.00  Female     No
227  3.00    Male     No
228  2.72    Male     No
232  3.39    Male     No
233  1.47    Male     No
235  1.25    Male     No
238  4.67  Female     No
239  5.92    Male     No
242  1.75    Male     No
243  3.00  Female     No

[151 rows x 3 columns]